/**** PAGE PRINCIPALE ****/
body {
	background-color:beige;
	height:100%;
}

/**** SLIDER ****/
#logo {
	position: absolute;
	top:0;
}

#A {
  position:fixed;
  margin:0 auto;
  top:0px;
  left:0px;
  width:1300px;
  height:250px;
  overflow:hidden;
  visibility:hidden;
}

#B {
  cursor:default;
  top:0px;
  left:0px;
  width:1300px;
  height:250px;
  overflow:hidden;
}


/**** RECHERCHE ****/
#navig {
	margin-top: 280px;
	margin-bottom:25px;
	text-align: center;
}

h2 {
	color: #F96816;
	font-size: 20pt;
	font-family:fantasy;
}

/**** RESULTATS ****/
.resultat {
	margin: auto;
	width:900px;
	text-align: center;
}

h4 {
	color: #F96816;
	line-height: 0;
}

#individuel {
	margin-top:15px;
	padding:10px;
	background-color:rgba(255,191,0, 0.3);
}

#place {
	width:350px;
}

#contact{
	width:350px;
}

#rating{
	width:200px;
}

/***first
#mytable {
	margin: auto;
	width:900px;
	background-color:rgba(255,191,0, 0.3);
}

#mytable td{
  border:1px solid blue;
}

#nom {
	font-weight: bold;
} */

		/***template
		.resto {
			margin: auto;
			margin-top:10px;
			padding: 5px;
			background-color:rgba(255,191,0, 0.3);
		}

		.profile {
			height:160px;
		}

		.infos {
			width:200px;
			padding-left: 30px;
		}

		.heures {
			width:200px;
		}

		.map {
			height:160px;
		}*/

/**** FOOTER ****/
#footer {
	position:relative;
	bottom:0;
	margin-top:20px;
	width:100%;
	background-color: #F96816;
	height:3vw;
	color:white;
	padding-top:1.5%;
	padding-bottom:0.5%;
	text-align:center;
	}
